header {
    background-color: rgba(255, 144, 14, 0.14);
    padding: 40px 240px;
}

.section-title {
    font-size: 35px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    list-style: none;
}

ul>li a {
    text-decoration: none;
    margin: 10px;
    color: #424242;
    font-size: 18px;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
}

.banner-details {
    font-size: 16px;
    font-weight: 400;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

.btn-primary {
    padding: 20px 30px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

/* quick-list start 
================= */
main {
    width: 750px;
    margin: 0 auto;

}

.teams-quick-container {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.quick-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.quick-container img {
    width: 190px;
}

.teams-feature {
    margin-left: 30px;
}

.quick-title {
    font-size: 40px;
    font-weight: 900;
}

.title-gray {
    color: #727272;
}

.title-yellow {
    color: #FF900E;
}

.feature-details {
    color: #727272;
    font-size: 15px;
    line-height: 20px;
}

/* feature start 
================== */
.features {
    margin-top: 100px;
    display: flex;
    gap: 60px;
}

.feature-title {
    font-size: 35px;
    font-weight: 900;
    border-left: 3px solid #FF900E;
    padding-left: 10px;
}

.card {
    box-shadow: 3px -3px 5px -7px;
}

.card>h4 {
    font-size: 20px;
}

.card-details {
    font-size: 16px;
    color: #727272;
}

.feature-img img {
    width: 400px;
    height: 90%;
}

.year-badge {
    width: 130px;
    position: relative;
    bottom: 70px;
    padding: 2px 20px;
    position: relative;
    margin-left: -50px;
    background-color: #FF900E;
    border-radius: 8px;
}

.year {
    font-size: 2rem;
    margin: 0;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.year-p {
    font-size: 1.2rem;
    text-align: center;
    color: white;
    margin-top: 10px;
}

/* card-img start 
================= */
.card-container {
    display: flex;
    line-height: 10px;
}

.card-box {
    text-align: center;
    margin-left: 30px;
    width: 200px;
    border: 1px saddlebrown solid;
    border-radius: 10px;
}

.card-box:hover {
    background-color: #ff900e;
    transition: 0.5s;
    color: white;
    font-weight: 900;
}

.card-box img {
    width: 40px;
    padding-top: 10px;
    line-height: 20px;
}